/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #00004d;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    padding: 1rem 2rem;
}

.navbar-brand {
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
}

.navbar-nav .nav-link {
    color: #ffffff;
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
}

.navbar-nav .nav-link:hover {
    background-color: #3498db;
    color: #ffffff;
}

.navbar-toggler {
    border-color: #ffffff;
}

.navbar-toggler-icon {
    background-color: #ffffff;
}

.dropdown-menu {
    background-color: #00004d;
}

.dropdown-item {
    color: #ffffff;
}

.dropdown-item:hover {
    background-color: #3498db;
    color: #ffffff;
}

.d-flex .btn {
    background-color: #ffffff;
    color: #00004d;
}

.d-flex .btn:hover {
    background-color: #3498db;
    color: #ffffff;
}

/* Hero Section */
.home {
    background-image: url('bhavna picture.png');
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
    color: #dbe3dc; /* Darker color for better readability */
    font-family: 'Lora', serif; /* Elegant and readable font */
    font-size: 2rem; /* Bigger font size */
    font-weight: bold; /* Make the font bold */
    z-index: 1;
    padding: 0 20px; /* Add some padding for better spacing */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Subtle shadow to improve visibility */
}

.hero img {
    display: none;
}

.cta-button {
    display: inline-block;
    background-color: #3498db;
    padding: 15px 30px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #2c3e50;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
    .navbar {
        padding: 1rem;
    }

    .navbar-nav .nav-link {
        font-size: 0.9rem;
    }

    .cta-button {
        font-size: 1rem;
    }

    .hero {
        height: 60vh;
    }

    .content {
        top: 30%;
        transform: translateX(-50%);
        font-size: 1.5rem; /* Slightly smaller font size on mobile */
    }

    .cta-button {
        font-size: 1rem;
    }
}
