/* Global Styles */
body {
    line-height: 1.6;
    font-family: Arial, sans-serif;
    color: #00004d;
    margin: 0;
    padding: 0;
}

#header-section {
    height: 100vh;
}

#main-content {
    padding: 2rem;
    padding-top: 120px; /* Adjust navbar height */
}

/* Section Styling */
#main-content section {
    padding-top: 80px;
    margin-top: -80px;
}

/* Navbar */
#navbar {
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: transform 0.3s ease, background-color 0.3s ease, top 0.5s ease-in-out;
}

#logo-container {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

#logo-image {
    width: 60px;
    height: 60px;
    border-radius: 10px;
}

#logo-text-container {
    flex: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#logo-text {
    font-size: xx-large;
    color: #00004d;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

/* Nav Links */
#nav-links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-right: 2rem;
}

.nav-link {
    color: #00004d;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.2s ease-in-out;
}

.nav-link:hover {
    color: #00004d;
}

/* Burger Menu */
#burger-menu {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    width: 27px;
}

.burger-line {
    width: 33px;
    height: 3.5px;
    background-color: white;
    transition: transform 0.5s ease-in-out;
}

#burger-menu.active #burger-line-1 {
    transform: rotate(45deg) translate(5px, 5px);
}

#burger-menu.active #burger-line-2 {
    opacity: 0;
}

#burger-menu.active #burger-line-3 {
    transform: rotate(-45deg) translate(5px, -5px);
}

/* Mobile Styles */
@media (max-width: 768px) {
    #burger-menu {
        display: flex;
    }

    #nav-links {
        display: none;
        flex-direction: column;
        width: 75%;
        max-width: 300px;
        background-color: #333333;
        position: absolute;
        top: 60px;
        right: 0;
        z-index: 999;
        padding: 1rem 0;
        border-radius: 10px;
    }

    #nav-links.active {
        display: flex;
    }

    .nav-item {
        margin: 1rem 0;
    }

    .nav-link {
        color: white;
        display: block;
        padding: 10px;
        border-radius: 5px;
    }
}
